{% extends 'admin.html.twig' %}

{% block title %}Langues | Administration{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Langues <div class="float-right"><a href="{{ path('admin_languages_new') }}" class="btn btn-primary btn-sm">Ajouter</a></div></h5>
            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Language</th>
                            <th>Level</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr>
                                <td>{{ row.id }}</td>
                                <td>{{ row.title }}</td>
                                <td>{{ row.level }}</td>
                                <td>
                                    <a href="{{ path('admin_languages_edit', {id: row.id}) }}" class="btn btn-warning btn-sm"><i class="fas fa-pen"></i></a>
                                    <form style=" display: inline-block;" action="{{ path('admin_languages_edit', {id: row.id}) }}" method="post" onsubmit="return confirm('Voulez vous vraiment supprimer ce contenu')">
                                        <input type="hidden" name="_method" value="DELETE" />
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
